body {
    font-family: 'Poppins', sans-serif;
  }
  .hover:hover{
      color: #fff;;
     background-color: black;
  }
  .hover-apply:hover{
     font-weight: 600;
     padding-left: 8px;
     padding-right: 8px;
  }
